/* צבעי רקע וטקסט בהתאמה לפלטת הצבעים החדשה */
body {
  background-color: #4682b4; /* כחול בהיר */
  color: #ffd700; /* זהב */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  direction: rtl;
}

header {
  background-color: #4b0082; /* סגול כהה */
  color: #ffffff;
  text-align: center;
  padding: 1em;
}

h1 {
  color: #ffa500; /* צהוב מוזהב */
}

input {
  padding: 0.5em;
  margin-top: 10px;
  border: 2px solid #ffd700; /* זהב */
  border-radius: 5px;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #800080; /* אדום-סגלגל */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
}

section {
  margin: 20px;
  padding: 20px;
  background-color: #dda0dd; /* סגול לילך */
  border-radius: 10px;
  color: #8b0000; /* אדום כהה */
  box-shadow: 0px 0px 10px #b0e0e6; /* כחול-קרח */
}

button {
  background-color: #00008b; /* כחול כהה */
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff6347; /* אדום בהיר */
}

/* חיפוש */
#searchInput {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ffd700; /* זהב */
}

/* אנימציה לגלילה רכה */
html {
  scroll-behavior: smooth;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}

/* רספונסיביות */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }
  section {
    padding: 1rem;
  }
}

/* גלילה רכה */
html {
  scroll-behavior: smooth;
}

/* כפתור חזרה לראש העמוד */
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: none;
  transition: background-color 0.3s ease;
}

#back-to-top:hover {
  background-color: #333;
}

/* אפקטים של קריאה נוספת */
.read-more-content {
  display: none;
  transition: max-height 0.5s ease;
}

.read-more-btn {
  color: #5a82f4;
  cursor: pointer;
}

/* חיפוש פנימי */
#search {
  text-align: center;
  margin: 1rem 0;
}

#searchInput {
  padding: 0.5rem;
  font-size: 1rem;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* אנימציות על כפתורים */
nav a,
#back-to-top {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

nav a:hover,
#back-to-top:hover {
  transform: scale(1.05);
}
