body {
  font-family: Arial, sans-serif;
  background-color: #f4f7f6;
  margin: 0;
  padding: 0;
  direction: rtl;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.container {
  display: flex;
}

.sidebar {
  width: 20%;
  background-color: #1a1a1a;
  color: white;
  padding: 15px;
  height: 100vh;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px 10px;
  cursor: pointer;
}

.sidebar ul li:hover {
  background-color: #444;
}

.main-content {
  width: 80%;
  padding: 20px;
}

.section {
  display: none;
}

#dashboard {
  display: block;
}

.start-btn {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.start-btn:hover {
  background-color: #218838;
}
