footer {
  background-color: #3a6f76;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  animation: fadeIn 0.5s;
}

.footer-content {
  margin-bottom: 15px;
}

.status-bar {
  /* display: flex; */
  justify-content: center;
  margin: 10px 0;
  flex-wrap: wrap;
  /* אפשר לשבור שורות */
}

.status-item {
  background-color: #76c7c0;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  flex: 1 0 45%;
  /* גמיש עד 45% */
  text-align: center;
  transition: background-color 0.3s;
}

.status-item:hover {
  background-color: #ffeb3b;
  /* צבע בהhover */
}

.marquee {
  background-color: #4bbf9c;
  padding: 10px;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.marquee-content {
  display: flex;
  animation: marquee 16s linear infinite;
  /* זמן כולל */
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.status {
  min-width: 100%;
  /* להבטיח שכל סטטוס יהיה במרכז */
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

.footer-link-item {
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: transform 0.3s;
  flex-basis: 20%;
  color: #ffffff;
}

.footer-link-item:hover {
  transform: scale(1.1);
}

.footer-link-item i {
  font-size: 28px;
  margin-bottom: 5px;
  color: #ffeb3b;
}

.expanded-links {
  margin-top: 15px;
  text-align: center;
}

.resource-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.resource-item {
  margin: 0 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex-basis: 20%;
  color: #ffffff;
}

.resource-item i {
  font-size: 28px;
  margin-bottom: 5px;
  color: #ffeb3b;
}

.footer-quote {
  font-style: italic;
  margin: 15px 0;
  color: #ffeb3b;
}

.footer-bottom {
  margin-top: 15px;
  font-size: 14px;
}

.social-media a {
  margin: 0 10px;
  color: #ffeb3b;
  transition: color 0.3s;
}

.social-media a:hover {
  color: #ffffff;
}

.expand-btn {
  margin-top: 15px;
  background-color: #ffeb3b;
  color: #3a6f76;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.expand-btn:hover {
  background-color: #fdd835;
}

.expanded-links ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.expanded-links a {
  color: #ffffff;
  text-decoration: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .footer-link-item,
  .resource-item {
    flex-basis: 45%;
    /* 2 בשורה */
  }

  .status-item {
    flex-basis: 45%;
    /* 2 בשורה */
  }

  .footer-quote {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .footer-link-item,
  .resource-item {
    flex-basis: 100%;
    /* 1 בשורה */
  }

  .status-item {
    flex-basis: 100%;
    /* 1 בשורה */
  }
}
