body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  direction: rtl;
}

header {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #333;
}

nav a {
  padding: 1rem;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #4caf50;
}

section {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
  background-color: white;
  margin-bottom: 1rem;
}

h1,
h2,
h3 {
  color: #333;
  font-family: "Arial Black", sans-serif;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}

/* רספונסיביות */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }
  section {
    padding: 1rem;
  }
}

/* גלילה רכה */
html {
  scroll-behavior: smooth;
}

/* כפתור חזרה לראש העמוד */
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: none;
  transition: background-color 0.3s ease;
}

#back-to-top:hover {
  background-color: #333;
}

/* אפקטים של קריאה נוספת */
.read-more-content {
  display: none;
  transition: max-height 0.5s ease;
}

.read-more-btn {
  color: #4caf50;
  cursor: pointer;
}
